li {
  list-style-type: none;
}
ul {
  padding: 0;
}
span {
  display: block;
}
.statistics {
  margin-bottom: 80px;
  width: 600px;
  /* margin: 0 auto; */
  font-weight: 700;
  color: #757575;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.list {
  display: flex;

  text-align: center;
  justify-content: center;
  padding-inline-start: 0px;
}

.label {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.percentage {
  font-size: 35px;
  color: #fff;
  text-align: center;
}

.title {
  margin: 0;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}
.item {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100px;
  height: 100px;
  background-color: rgb(180, 180, 180);
  border-color: lightgray;
  border-style: solid;
  border-width: 0.5px;
}
